In [1]:
#  make a new data set with some coverted values

In [2]:
# import some libraries
import pandas as pd
import numpy as np

In [3]:
# Data csv files downloaded from Kaggle.  
# Let's read the student maths data set into a Dataframe called 'studentmath
studentmath = pd.read_csv('student-mat.csv')  
# read the student portuguese data into a Dataframe called 'studentport'
studentport = pd.read_csv('student-por.csv')

In [4]:
# add average grade
studentmath['Average'] = ((studentmath.G1 + studentmath.G2 + studentmath.G3)/3)

In [5]:
#now drop the original three and keep the average
studentmath = studentmath.drop('G1',axis=1)

In [6]:
studentmath = studentmath.drop('G2',axis=1)

In [7]:
#studentmath = studentmath.drop('G3',axis=1)

In [8]:
studentmath.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3,Average
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,6,6,5.666667
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,4,6,5.333333
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,10,10,8.333333
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,2,15,14.666667
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,4,10,8.666667

In [9]:
#studentport['Average'] = ((studentport.G1 + studentport.G2 + studentport.G3)/3)

In [10]:
#studentport = studentport.drop('G1',axis=1)
#studentport = studentport.drop('G2',axis=1)
#studentport = studentport.drop('G3',axis=1)

In [11]:
#studentport.head()

In [12]:
studentmath2 = studentmath

In [13]:
def sexMF(c):
  if c['sex'] == 'F':
    return 0
  else:
    return 1

studentmath2['sexMF'] = studentmath2.apply(sex, axis=1)

NameError: name 'sex' is not defined

In [16]:
#studentmath2.head()
#studentmath2.school
#studentmath2.describe()
studentmath2.shape

(395, 32)

In [17]:
def sch(c):
    if c['school'] == 'GP':
        return 1
    else:
        return 0
    
studentmath2['sch'] = studentmath2.apply(sch,axis=1)

In [18]:
def Mjob2(j):
    if j['Mjob'] == 'teacher':
        return 1
    else:
        return 0
#studentmath2['Mjob'] = studentmath2.apply(Mjob, axis=1)
studentmath2['Mjob2'] = studentmath2.apply(Mjob2, axis=1)

In [19]:
#studentmath2.Mjob2

In [20]:
studentmath2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G3,Average,sch,Mjob2
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,6,5.666667,1,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,6,5.333333,1,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,10,8.333333,1,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14.666667,1,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,10,8.666667,1,0

In [21]:
studentmath2.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G3,Average,sch,Mjob2
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9.000000,0,0
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,16,15.333333,0,0
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,7,8.333333,0,0
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,10,11.000000,0,0
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,9,8.666667,0,0

In [22]:
#studentmath.sexMF

In [23]:
#studentmath2 = studentmath2.drop('sex',axis=1)
#studentmath2 = studentmath2.drop('Mjob',axis=1)
#studentmath2 = studentmath2.drop('school',axis=1)

In [24]:
studentmath2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G3,Average,sch,Mjob2
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,6,5.666667,1,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,6,5.333333,1,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,10,8.333333,1,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14.666667,1,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,10,8.666667,1,0

In [25]:
# Display the plots in the notebook with the following command
%matplotlib inline
# Import the graphing libraries we will use
import matplotlib.pyplot as plt

In [26]:
# now try linear regression 
# check the distribution of Price vs. EstimatedPrice using a scatterplot
import seaborn as sns
sns.set_style("darkgrid")

sns.lmplot(y='Average', x='sexMF', data=studentmath2)

KeyError: "['sexMF'] not in index"

In [ ]:
# first, plot the observed data
studentmath2.plot(kind='scatter', x='absences', y='Average')

In [ ]:
# x
#Plot a Correlation Matrix
corr = studentmath2.corr()
corr = (corr)
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)
sns.plt.title('Heatmap of Correlation Matrix')
corr

In [27]:
# TASK 2: define features
feature_cols = ['sexMF', 'sch']
X = studentmath2[feature_cols]
y = studentmath2.Average

KeyError: "['sexMF'] not in index"

In [28]:
# TASK 3: split the data into training and testing sets
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

/Applications/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

NameError: name 'X' is not defined

In [29]:
# TASK 4: fit a logistic regression model and examine the coefficients
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
zip(feature_cols, logreg.coef_[0])
print(logreg.fit(X_train, y_train))

NameError: name 'X_train' is not defined

In [30]:
# Firstly, let's convert our character vectors to binary represnetations so we can use them in the model
student_with_dummies = pd.get_dummies(data=studentmath, columns = ['sex', 'Medu', 'Fedu','school'], prefix = ['sex', 'Medu', 'Fedu','school'] )

# Inspect

In [31]:
student_with_dummies.head()
student_with_dummies.columns

Index(['age', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason',
       'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup',
       'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet',
       'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G3', 'Average', 'sch', 'Mjob2', 'sex_F', 'sex_M', 'Medu_0',
       'Medu_1', 'Medu_2', 'Medu_3', 'Medu_4', 'Fedu_0', 'Fedu_1', 'Fedu_2',
       'Fedu_3', 'Fedu_4', 'school_GP', 'school_MS'],
      dtype='object')

In [32]:
#student_with_dummies.sexMF
#?logreg.fit
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from numpy import loadtxt, where
from pylab import scatter, show, legend, xlabel, ylabel

In [34]:
from sklearn import linear_model, datasets
from sklearn import metrics

feature_cols = ['sex_M', 'sex_F', 'Medu_0', 'Medu_1', 'Medu_2', 'Medu_3', 'Medu_4', 'Fedu_0', 'Fedu_1', 'Fedu_2', 'Fedu_3', 'Fedu_4', 'school_GP', 'school_MS']
X = student_with_dummies[feature_cols]
y = student_with_dummies.G3

#try this
#logreg = linear_model.LogisticRegression(C=1e5)

#  below was error stuff
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
logreg.fit(X_train, y_train)
zip(feature_cols, logreg.coef_[0])
y_pred_class = logreg.predict(X_test)

# Print the new accuracy rate
print(metrics.accuracy_score(y_test, y_pred_class))

0.0808080808081

In [35]:
# not a very good score
# try another
feature_cols = ['Medu_0', 'Medu_1', 'Medu_2', 'Medu_3', 'Medu_4', 'Fedu_0', 'Fedu_1', 'Fedu_2', 'Fedu_3', 'Fedu_4', 'school_GP', 'school_MS']
X = student_with_dummies[feature_cols]
y = student_with_dummies.G3

#try this
#logreg = linear_model.LogisticRegression(C=1e5)

#  below was error stuff
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
logreg.fit(X_train, y_train)
zip(feature_cols, logreg.coef_[0])
y_pred_class = logreg.predict(X_test)

# Print the new accuracy rate
print(metrics.accuracy_score(y_test, y_pred_class))

0.121212121212

In [44]:
# not a very good score
# try another
feature_cols = ['Medu_4', 'Fedu_4', 'school_GP', 'school_MS']
X = student_with_dummies[feature_cols]
y = student_with_dummies.G3

#try this
#logreg = linear_model.LogisticRegression(C=1e5)

#  below was error stuff
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
logreg.fit(X_train, y_train)
zip(feature_cols, logreg.coef_[0])
y_pred_class = logreg.predict(X_test)

# Print the new accuracy rate
print(metrics.accuracy_score(y_test, y_pred_class))

0.131313131313

In [50]:
# not a very good score
# try another
student_with_dummies = pd.get_dummies(data=studentmath, columns = ['sex', 'Medu', 'Fedu','school','Mjob','higher'], prefix = ['sex', 'Medu', 'Fedu','school','Mjob','higher'] )

# Inspect

feature_cols = ['school_GP', 'school_MS','higher_yes', 'higher_no']
X = student_with_dummies[feature_cols]
y = student_with_dummies.G3

#try this
#logreg = linear_model.LogisticRegression(C=1e5)

#  below was error stuff
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
logreg.fit(X_train, y_train)
zip(feature_cols, logreg.coef_[0])
y_pred_class = logreg.predict(X_test)

# Print the new accuracy rate
print(metrics.accuracy_score(y_test, y_pred_class))

0.131313131313

In [51]:
#studentmath2.hist()

In [37]:
# TASK 7 : Confusion Matrix
#from sklearn import metrics
#prds = logreg.predict(X)
#print(metrics.confusion_matrix(y_test, y_pred_class))

In [52]:
# Task 10: Try a different classification algorithm like Naive Bayes or Nearest Neighbours
from sklearn.neighbors import KNeighborsClassifier
KNN_model = KNeighborsClassifier(5)
KNN_model.fit(X_train, y_train)
y_pred_class = KNN_model.predict(X_test)
# Print the new accuracy rate
print(metrics.accuracy_score(y_test, y_pred_class))

0.0606060606061

In [53]:
from sklearn.naive_bayes import GaussianNB
NB_model = GaussianNB()
NB_model.fit(X_train, y_train)
y_pred_class = NB_model.predict(X_test)
# Print the new accuracy rate
print(metrics.accuracy_score(y_test, y_pred_class))

0.020202020202

In [ ]:
# ian said to try lasso